<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employees_id %>
    <%= form.text_area :employees_id %>
  </div>

  <div class="field">
    <%= form.label :note_time_interval %>
    <%= form.text_field :note_time_interval %>
  </div>

  <div class="field">
    <%= form.label :note_left %>
    <%= form.text_field :note_left %>
  </div>

  <div class="field">
    <%= form.label :note_center %>
    <%= form.text_field :note_center %>
  </div>

  <div class="field">
    <%= form.label :note_right %>
    <%= form.text_field :note_right %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
