<h3>Новый график на <%= @schedule.date.strftime('%m.%Y') %></h3>

<div class="schedule-area">

  <table class="schedule-table">
    <% serial_number = 1 %>
    <% @sections.each do |section| %>
      <tr>
        <td rowspan="2">№</td>
        <td><%= label_tag nil, section.title %></td>
        <td rowspan="2">Таб. №</td>
        <% count_days_in_month.times do |day| %>
          <td><%= Russian.strftime(Date.new(@schedule.date.year, @schedule.date.month, day + 1), '%a') %></td>
        <% end %>
        <td colspan="2">Кол-во часов</td>
        <td rowspan="2">Сумма</td>
      </tr>
      <tr>
        <td>Ф.И.О.</td>
        <% count_days_in_month.times do |day| %>
          <td><%= day + 1 %></td>
        <% end %>
        <td>дневных</td>
        <td>отпускных</td>
      </tr>

      <% section.employees.each do |employee| %>
        <tr>
          <td><%= serial_number %></td>
          <td><%= employee.name %></td>
          <td><%= employee.service_number %></td>
          <% count_days_in_month.times do |day| %>
            <td><%= text_field_tag nil, nil, class: "day-input-field" %></td>
          <% end %>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% serial_number += 1 %>
      <% end %>
    <% end %>

  </table>

</div>
