<p id="notice"><%= notice %></p>

<p>
  <strong>Employees:</strong>
  <%= @schedule.employees_id %>
</p>

<p>
  <strong>Note time interval:</strong>
  <%= @schedule.note_time_interval %>
</p>

<p>
  <strong>Note left:</strong>
  <%= @schedule.note_left %>
</p>

<p>
  <strong>Note center:</strong>
  <%= @schedule.note_center %>
</p>

<p>
  <strong>Note right:</strong>
  <%= @schedule.note_right %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @schedule.user_id %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
