

<h1>Настройки</h1>
<p>Здесь Вы можете управлять секциями и сотрудниками</p>

<% @global_sections.each do |section|%>
  <% @section = section %>
  <div class="row mb-3">
    <div class="col-10 bg-light shadow rounded-lg border">
      <div id="global_section_<%= @section.id %>" data-block-id="global-section-<%= @section.id %>" class="row">
        <%= render 'global_sections/show' %>
      </div>

      <div class="row">
        <div class="col-11">
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th scope="col">Таб. №</th>
              <th scope="col">ФИО</th>
              <th scope="col">Приоритет смен</th>
              <th scope="col">1+1</th>
              <th scope="col">Доп</th>
              <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <% @section.employees.each do |employee| %>
              <% @employee = employee %>
              <tr id="employee-<%= @employee.id %>" data-block-id="employee-<%= @employee.id %>">
                <%= render 'employees/show' %>
              </tr>
            <% end %>
            <% @new_employee = @section.employees.new(global_section_id: "#{@section.id}") %>
            <tr>
              <%= render 'employees/new_employee_form' %>
            </tr>
            <tr>
                  <%= render 'subsections/show' %>
            </tr>
            <tr>
              <td colspan="6">
                <% @subsection = @section.subsections.new %>
                <%= render 'subsections/new_subsection_form' %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="mt-5">
  <%= render 'global_sections/new_global_section_form' %>
</div>
