<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @day.hours %>
</p>

<p>
  <strong>Time interaval:</strong>
  <%= @day.time_interaval %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @day.type %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @day.employee_id %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
