<%= form_with(model: local_section, local: true) do |form| %>
  <% if local_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local_section.errors.count, "error") %> prohibited this local_section from being saved:</h2>

      <ul>
        <% local_section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :gloabal_section_id %>
    <%= form.text_field :gloabal_section_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
