<p id="notice"><%= notice %></p>

<h1>Local Sections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Gloabal section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_sections.each do |local_section| %>
      <tr>
        <td><%= local_section.title %></td>
        <td><%= local_section.gloabal_section_id %></td>
        <td><%= link_to 'Show', local_section %></td>
        <td><%= link_to 'Edit', edit_local_section_path(local_section) %></td>
        <td><%= link_to 'Destroy', local_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local Section', new_local_section_path %>
