<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @local_section.title %>
</p>

<p>
  <strong>Gloabal section:</strong>
  <%= @local_section.gloabal_section_id %>
</p>

<%= link_to 'Edit', edit_local_section_path(@local_section) %> |
<%= link_to 'Back', local_sections_path %>
