<p id="notice"><%= notice %></p>

<h1>Global Sections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @global_sections.each do |global_section| %>
      <tr>
        <td><%= global_section.title %></td>
        <td><%= global_section.schedule_id %></td>
        <td><%= link_to 'Show', global_section %></td>
        <td><%= link_to 'Edit', edit_global_section_path(global_section) %></td>
        <td><%= link_to 'Destroy', global_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Global Section', new_global_section_path %>
