<!DOCTYPE html>
<html>
<head>
  <title>WorkSchedule</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>

<body>


<nav class="navbar navbar-expand-lg">

    <div class="col text-left">
      <%= link_to 'Главная', root_path, class: 'navbar-brand' %>
    </div>

    <div class="col text-right">
      <% if user_signed_in? %>

        <span><%= link_to (current_user.name? ? current_user.name : current_user.email), current_user %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>

      <% else %>

        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>

      <% end %>
    </div>
</nav>

<% if flash.any? %>
  <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
