<!DOCTYPE html>
<html>
<head>
  <title>WorkSchedule</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Если есть специальный .js файл для этого контроллера, то подключаем его -->
  <% if File.exist?("#{Dir.pwd}/app/javascript/packs/#{controller_name}/#{controller_name}.js") %>
    <%= javascript_pack_tag 'application', "#{controller_name}/#{controller_name}" %>
  <% else %>
    <%= javascript_pack_tag 'application' %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>

<body>

<div class="wrapper">

  <%= render 'layouts/navbar' %>


  <% if flash.notice %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
  <% elsif flash.alert %>
    <div id="alert" class="alert alert-danger"><%= alert %></div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
